.paragraph--type--table-inner {
  .table-inner {
    .title {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 34px;
      float: left;
      color: #002d62;
    }
    .subtitle {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 34px;
      float: left;
      color: #494949;
    }
  }
}
