.main-content.col {
  padding-left: 0;
  padding-right: 0;
}
.homepage-header {
  position: relative;
  .title-subtitle-scroll {
    position: absolute;
    z-index: 99;
    bottom: 128px;
    .field--name-field-title {
      font-family: "Open Sans Condensed";
      font-style: normal;
      font-weight: 700;
      font-size: 80px;
      line-height: 109px;
      text-transform: uppercase;
      color: #ffffff;
    }
    .field--name-field-subtitle {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 34px;
      color: #ffffff;
      margin-top: 96px;
    }
    .body-and-scroll {
      display: flex;
      flex-direction: row;
    }
    #block-scroll2 {
      text-align: end;
      display: flex;
      align-items: flex-end;
      /* margin-left: 30px; */
      padding-left: 30px;
      @media (max-width: 992px) {
        padding-left: unset;
      }
      button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: #ee3224;
        border: none;
        &:hover {
          background-color: #f4f4f4;
        }
        a {
          text-decoration: none;
          &::before {
            content: "\f107";
            font-family: "Font Awesome 5 Free";
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.25px;
            text-transform: uppercase;
            color: #ffffff;
          }
          &:hover {
            &::before {
              content: "\f107";
              font-family: "Font Awesome 5 Free";
              font-style: normal;
              font-weight: 900;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 1.25px;
              text-transform: uppercase;
              padding: 9px;
              color: #494949;
            }
          }
        }
      }
    }
  }
  .field--name-field-media-image,
  .field--name-field-prod-cover {
    position: relative;
    margin: 0;
    &::before {
      content: "";
      background: linear-gradient(
        0deg,
        rgba(2, 2, 2, 0.64),
        rgba(2, 2, 2, 0.64)
      );
      position: absolute;

      width: 100%;
      height: 100vh;
      display: block;
      z-index: 0;
    }
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      margin: 0;
    }
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
}
#block-applyforloan {
  position: fixed;
  // bottom: 120px;
  z-index: 9999999;
  right: -150px;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  transform: translate(0%);
  bottom: 10%;
  right: 0;

  @keyframes example {
    from {
      right: -150px;
    }
    to {
      right: 0;
    }
  }
  @media (max-width: 992px) {
    bottom: 40px;
  }
  .loan {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #002d62;
    padding: 16px 20px 16px 24px;
    background: #ffffff;
    border-radius: 5px 0px 0px 5px;
    border: none;
    letter-spacing: 0.75px;
    filter: drop-shadow(-2px 0px 12px rgba(0, 0, 0, 0.1));

    &:hover {
      color: #ffffff;
      filter: drop-shadow(-2px 0px 12px rgba(0, 0, 0, 0.1));
      background: #002d62;
    }
  }
}
#block-webform {
  display: none;
  position: fixed;
  z-index: 9999999;
  background: white;
  right: 1%;
  top: 50%;
  filter: drop-shadow(0px 0px 100px rgba(0, 45, 98, 0.48));
  padding: 60px 48px;
  border-radius: 10px;
  transform: translateY(-50%);
  .close-webform {
    position: absolute;
    right: 55px;
    top: 55px;
    background: #ffffff;
    border: 1px solid rgba(73, 73, 73, 0.32);
    box-sizing: border-box;
    border-radius: 50%;
    padding: 10px 15px;
    @media (max-width: 992px) {
      right: 25px;
      top: 35px;
    }

    i {
      font-style: normal;
      font-weight: 900;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #1c1c1c;
    }
  }

  h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: flex-end;
    color: #002d62;
    margin-bottom: 29px;
  }
  .webform-submission-apply-for-a-loan-form {
    .webform-required {
      position: absolute;
      bottom: 150px;
      display: none;
    }
  }
  .js-form-item {
    input {
      padding: 15.5px 16px;
    }
  }

  .js-form-type-textfield {
    box-sizing: border-box;
    border-radius: 2px;
  }

  #edit-markup--2,
  #edit-markup {
    //position: absolute;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #494949;

    a {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #002d62;
    }

    bottom: 56px;
    @media (max-width: 992px) {
      bottom: 95px;
    }
  }
  #edit-message {
    height: 92px;
  }

  .form-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 0 !important;
    // margin-top: 100px;
  }
  button {
    border-radius: none;
    background: #002d62;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    border: none;

    @media (max-width: 992px) {
      width: 100%;
      margin-top: 4.25rem;
    }

    &::after {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      margin-left: 70px;
      text-align: center;
      text-transform: uppercase;
      color: #494949;
      background: #f4f4f4;
      border-radius: 50px;
      padding: 8px 10px;
      font-size: 8px;
    }
    &:hover {
      background: white;
      color: #494949;
      border: none;
    }
  }
}
