#header {
  .clearfix.nav.navbar-nav {
    margin-right: 40px;
  }
  .navbar-dark {
    background-color: white !important;
    position: fixed;
    width: 100%;
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.08));
    z-index: 9999999;
    .navbar-collapse.justify-content-end.collapse.show {
      overflow-y: scroll;
      height: calc(100vh - 50px);
    }
    .navbar-toggler.collapsed {
      .navbar-toggler-icon {
        background-image: url(../images/bars-solid.svg);
        width: 18px;
        height: 18px;
        margin-top: 11px;
        margin-right: 5px;
      }
    }
    .navbar-toggler-icon {
      background-image: url(../images/icons/x-solid.svg);
      width: 15px;
      height: 15px;
      margin-top: 11px;
      margin-right: 5px;
    }
    .navbar-brand {
      height: 80px;
    }
    .search-icon {
      position: absolute;
      right: 26px;
      top: 22px;
      cursor: pointer;
      a {
        text-decoration: none;
      }
      i {
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #ee3224;
        margin-top: 20px;
      }
    }
    #block-londoncredit-subtheeme-main-menu {
      display: flex;
      margin-right: 20px;
      .navbar-nav {
        .nav-item {
          padding: 12px 8px 12px 0px;
          margin-right: 40px;
          a {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.15px;
            color: #020202;
            border-top: 1px solid #f3f3f3;
            padding-left: 0;
            &:hover {
              border-top: 1px solid black;
              animation-name: slidein;
              animation-duration: 2.5s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .nav-link.is-active {
            border-top: 1px solid #002d62;
            color: #002d62;
          }
          .nav-link.dropdown-toggle {
            padding-left: 0;
            &:hover {
              border-top: 1px solid black;
              animation-name: slidein;
              animation-duration: 2.5s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
            cursor: pointer;
            &::after {
              content: "\f078";
              font-family: "Font Awesome 5 Free";
              font-style: normal;
              font-weight: 900;
              font-size: 10px;
              line-height: 12px;
              letter-spacing: 1.25px;
              text-transform: uppercase;
              color: #1c1c1c;
              border: none;
              margin-left: 9px;
            }
          }
          .nav-link.dropdown-toggle.nav-link-.show {
            &::after {
              transform: rotate(180deg);
            }
          }
          span {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.15px;
            color: #020202;
            border-top: 1px solid #f3f3f3;
          }
        }
      }
      .nav-item.menu-item--expanded {
        .dropdown-menu {
          background: #002d62;
          border-top: 2px solid red;
          box-shadow: 0px 0px 100px rgba(0, 45, 98, 0.32);
          border-radius: 0px 0px 5px 5px;
          margin-top: 18px;
          padding: 0;
          width: 254px;
          .dropdown-item {
            padding: 24px 16px;
            a {
              font-family: "Open Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.15px;
              color: #ffffff;
              border-top: none;
              // text-decoration: none;
              padding: 9px 106px 24px 1px;
              &:hover {
                text-decoration: underline;
                //border-bottom: 1px solid black;
                animation-name: slidein;
                animation-duration: 2.5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
              }
            }
            &:active {
              background-color: #ffffff;
            }
            &:hover {
              a {
                color: #1c1c1c;
              }
            }
          }
          .dropdown-item.active {
            background: #ffffff;
            a {
              font-family: "Open Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.15px;
              color: #1c1c1c;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .navbar-toggler.collapsed {
    background: none;
    border: none;
    margin-right: 10px;
    margin-top: 16px;
    &::before {
      content: "\f0c9";
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #002d62;
    }
    @media (min-width: 992px) {
      display: none;
    }
  }
  .dropdown-menu {
    width: 80vw;
  }
  #header {
    .navbar-dark {
      .navbar-brand {
        height: 56px;
      }
      .search-icon {
        top: 16px;
        right: 96px !important;
      }
      a {
        img {
          height: 56px;
        }
      }
      #block-londoncredit-subtheeme-main-menu {
        margin-right: 0;
        .navbar-nav {
          width: 100%;
          margin: 0;
          margin-top: 62px;
          margin-bottom: 64px;
          .nav-item {
            margin-left: 32px;
            padding: 0px 0px 16px 0px;
            margin-right: 32px;
            a {
              height: 38px;
            }
          }
        }
        .nav-item.menu-item--expanded {
          .dropdown-menu {
            border-left: none;
            border-right: none;
            width: 100%;
            box-shadow: none;
            border-bottom: none;
            .dropdown-item {
              a {
                font-size: 14px;
                line-height: 17px;
              }
            }
            .dropdown-item.active {
              a {
                font-size: 14px;
                line-height: 17px;
                color: #1c1c1c;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1250px) and (min-width: 992px) {
  #header {
    .navbar-dark {
      #block-londoncredit-subtheeme-main-menu {
        .navbar-nav {
          .nav-item {
            padding: 12px 12px 12px 0px;
            margin-right: 0;
          }
        }
      }
    }
  }
}

#block-searchform {
  position: fixed;
  display: none;
  top: 50%;
  z-index: 99999999;
  left: 0%;
  right: 0px;
  top: 0px;
  background-size: 100% !important;
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.88), rgba(2, 2, 2, 0.88)),
    url(../images/Home&Search&AboutUS_Heading_Image.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  -webkit-animation: display-search 0.32s;
  animation: display-search 0.32s;
  -webkit-transition: 0.32s all ease-in-out;
  transition: 0.32s all ease-in-out;

  h2 {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 35%;
    left: 25%;
  }

  #search-block-form {
    position: absolute;
    top: 50%;
    left: 25%;
  }
  .close-search {
    text-align: right;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    cursor: pointer;

    p {
      margin-top: 13px;
      margin-right: 12px;
    }

    span {
      margin-top: 14px;
      margin-right: 28px;

      i {
        background: #f4f4f4;
        border-radius: 50px;
        width: 24px;
        height: 24px;
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 9px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #1c1c1c;
        padding-left: 7px;
      }
    }
  }

  .form-search {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    width: 50vw;
    color: white;
    -webkit-text-fill-color: white !important;
    &:focus {
      box-shadow: none;
      border-color: none;
    }
  }

  .form-submit {
    background-color: transparent;
    color: transparent;
    border: none;

    &:hover {
      background-color: transparent;
      color: transparent;
      border: none;
    }

    &:focus {
      box-shadow: none;
      border: none;
    }
    &::before {
      content: "\f002";
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 16px;
      margin-left: -44px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #ee3224;
    }
  }
}

@media (max-width: 992px) {
  #block-londoncredit-search {
    background-size: unset !important;
    width: 100%;
    height: 100vh;
    #search-block-form {
      left: 5%;
    }
    .form-search {
      width: 90vw;
    }
    h2 {
      left: 20%;
    }
  }
}

.path-search {
  .search-form {
    display: none;
  }
  .block-system-main-block {
    margin-top: 48px;
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-top: 10px;
    }
    h1 {
      font-family: "Open Sans Condensed";
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 6.8125rem;
      text-transform: uppercase;
      color: #002d62;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 16px;
      }
    }

    .keyword {
      font-family: "Open Sans Condensed Light";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: #1c1c1c;
      margin-bottom: 64px;
    }

    .btn-back {
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(73, 73, 73, 0.32);
      margin-bottom: 28px;
      @media (max-width: 991px) {
        margin-bottom: 32px;
      }

      a {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #1c1c1c;
        padding-top: 5px;
        text-decoration: none;

        &::before {
          content: "\f053";
          font-family: "Font Awesome 5 Free";
          font-style: normal;
          font-weight: 900;
          font-size: 8px;
          line-height: 9px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 1.25px;
          text-transform: uppercase;
          color: #ffffff;
          background: #ee3224;
          border-radius: 50%;
          padding: 12px;
          margin-right: 12px;
        }
      }
    }

    h2 {
      display: none;
    }
  }
  .block-system-main-block {
    margin-top: 48px;
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-top: 10px;
    }
    h1 {
      font-family: "Open Sans Condensed";
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 6.8125rem;
      text-transform: uppercase;
      color: #002d62;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 16px;
      }
    }

    .keyword {
      font-family: "Open Sans Condensed Light";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: #1c1c1c;
      margin-bottom: 64px;
    }

    .btn-back {
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(73, 73, 73, 0.32);
      margin-bottom: 28px;
      @media (max-width: 991px) {
        margin-bottom: 32px;
      }

      a {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #1c1c1c;
        padding-top: 5px;
        text-decoration: none;

        &::before {
          content: "\f053";
          font-family: "Font Awesome 5 Free";
          font-style: normal;
          font-weight: 900;
          font-size: 8px;
          line-height: 9px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 1.25px;
          text-transform: uppercase;
          color: #ffffff;
          background: #ee3224;
          border-radius: 50%;
          padding: 12px;
          margin-right: 12px;
        }
      }
    }

    .list-group-item {
      border-radius: 0px;
      padding: 48px 0px;
      &:last-child {
        border-bottom: 0;
      }
      @media (max-width: 991px) {
        padding: 32px 0px;
      }
      border: 0;
      border-bottom: 1px solid rgba(73, 73, 73, 0.32);
      position: relative;
      .list-group-item-url {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 740px;
        &:hover,
        &:focus {
          i {
            right: 15px;
            background-color: #ee3224;
            color: white;
          }
        }
        h3 {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #494949;
          @media (max-width: 991px) {
            font-size: 18px;
            line-height: 140.62%;
          }
        }

        p {
          display: none;
          &:last-child {
            margin-bottom: 0;
          }
        }

        i {
          position: absolute;
          right: 0;
          color: #494949;
          transition: right 0.3s ease-in-out;
          background-color: #f4f4f4;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          width: 24px;
          height: 24px;
          font-size: 10px;
        }
      }
    }
  }
}
